In [1]:
import seaborn as sns
import pandas as pd
from sklearn.metrics import (accuracy_score, 
                            confusion_matrix, 
                            classification_report,
                            plot_confusion_matrix)
from sklearn.model_selection import train_test_split, cross_val_score # resampling method
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt

In [2]:
pwd

'/Users/emilynaftalin/Data_Science/General Assembly/dsi/projects/project_3/practice_code'

In [10]:
# read in cleaned stoicism & zen dataset 

stoic_zen = pd.read_csv('../datasets/clean_stoic_zen_tokenized.csv', )

In [11]:
stoic_zen.head()

,label,merged,tokens
0,0,you need to fight your mind every time it trie...,"['you', 'need', 'to', 'fight', 'your', 'mind',..."
1,0,a phone call creates stronger bonds than text ...,"['a', 'phone', 'call', 'creates', 'stronger', ..."
2,0,"everything in your life every experience, ever...","['everything', 'in', 'your', 'life', 'every', ..."
3,0,the parable of the mexican fisherman got me re...,"['the', 'parable', 'of', 'the', 'mexican', 'fi..."
4,0,the key to success and productivity isn t to t...,"['the', 'key', 'to', 'success', 'and', 'produc..."

In [12]:
stoic_zen.tail()

,label,merged,tokens
5982,1,stoicism and self improvement i have just rece...,"['stoicism', 'and', 'self', 'improvement', 'i'..."
5983,1,should i go cold turkey on entertainment to pr...,"['should', 'i', 'go', 'cold', 'turkey', 'on', ..."
5984,1,"free law of attraction, the secret pdf and boo...","['free', 'law', 'of', 'attraction', 'the', 'se..."
5985,1,anxiety i have trouble rationalising with my a...,"['anxiety', 'i', 'have', 'trouble', 'rationali..."
5986,1,"""some poor, phoneless fool is probably sitting...","['some', 'poor', 'phoneless', 'fool', 'is', 'p..."

In [13]:
stoic_zen.shape

(5987, 3)

## Pre-Processing

_This time I will try a KNN model and then lemmatize and stem the words and see if this helps._

In [14]:
X = stoic_zen['merged']
y = stoic_zen['label']

In [15]:
# splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                   y, 
                                                   test_size=0.33,
                                                   shuffle=True,
                                                   stratify=y,
                                                   random_state=42)